@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('../fonts/helveticaneue/stylesheet.css');
@import url("../css/animate.css");

body {
  background-color: #fff;
  font-family: 'HelveticaNeue';
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

.btn.btn-primary {
  background-color: #00A7B4 !important;
  border-color: #00A7B4 !important;
  color: #fff !important;
  border-radius: 100px;
  transition: all 0.8s;
  box-shadow: 0 3px 8px 0 rgba(0, 167, 180,0.10);

  &:hover {
    background-color: rgba(0, 167, 180,0.40);
    box-shadow: 0 3px 8px 0 rgba(0, 167, 180,0.40);
    transform: translateY(-3px);
    transition: all 0.8s;
  }
}


.btn.btn-outline-primary {
  background-color: transparent !important;
  border-color: #00A7B4 !important;
  color: #00A7B4 !important;
  border-radius: 100px;
  transition: all 0.8s;
  box-shadow: 0 3px 8px 0 rgba(0, 167, 180,0.10);

  &:hover {
    background-color: transparent;
    box-shadow: 0 3px 8px 0 rgba(0, 167, 180,0.40);
    transform: translateY(-3px);
    transition: all 0.8s;
  }
}

/*############################ header section ###############################*/

.fixed-top {
  background-color: #fff !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 110px;
  position: relative;

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 100px;
    background-color: #fff;
    // box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    z-index: 999;
    // border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 80px;
      height: auto;

      img {
        width: 100%;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        .nav-item {
          a {
            color: #232323;
            font-size: 15px;
            line-height: 24px;
            padding: 8px 18px;
            font-weight: 400;
            transition: all 0.4s ease-in-out;
            white-space: nowrap;
            &:hover {
              transition: all 0.4s ease-in-out;
              color: #00A7B4;
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: #00A7B4;
          }
        }

        .nav-btn {
          padding: 0 10px;
          margin-left: 20px;
          &:last-child {
            padding-right: 0;
            margin-left: 0px;
          }

          a {
            font-size: 16px;
            min-height: 30px;
            line-height: 22px;
            padding: 8px 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 18px;
    color: #181818;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #c7c7c7;
    height: 50px;
    background-color: #fff;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none;
    outline: 0;

    &:focus {
      border-color: #1d61f6 !important;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

/*  middle section start here */

.middle-section {
  height: auto;
  padding-top: 110px;


  .banner-section {
    padding: 20px 0;
    background-color: #fff;
    position: relative;

    .relative {
      position: relative;
    }
    .slide {
      position: absolute;
      left: -50px;
      height: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        li {
          padding: 10px 10px;
          a {
            color: #999999;
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
          }

          &.active {
            a {
              color: #00A7B4;
              font-size: 36px;
              line-height: 42px;
              position: relative;
              &::after {
                content: '';
               position: absolute;
               left: -50px;
               width: 40px;
               height: 2px;
               top: 20px;
               background-color: #00A7B4;
              }
      
            }
          }
        }
      }
    }
    .banner-area {
      padding: 80px 90px;
      border-radius: 20px;
      background-color: rgba(34, 61, 87, 0.07);

      .content {

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        h3 {

          font-size: 48px;
          line-height: 57px;
          color: #223D57;
        }

        p {
          font-size: 16px;
          line-height: 20px;
          color: #666666;
          margin-bottom: 20px;
        }
        .btn {
          display: inline-flex;
          align-items: center;
          height: 45px;
          text-transform: capitalize;

          span {
            font-size: 16px;
          }
        }
      }

      .gallery {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 100%;
        &::after {
          content: '';
          background-image: url(../images/pattern-1.png);
          position: absolute;
          left: 60px;
          top: -30px;
          height: 142px;
          width: 208px;
        }


        &::before {
          content: '';
          background-image: url(../images/pattern-2.png);
          position: absolute;
          right: -60px;
          bottom: 10px;
          height: 88px;
          width: 134px;
        }

        .bnner-img {
          position: relative;
          z-index: 9;
        }
      }
    }

    .owl-dots {
      position: absolute;
      right: 40px;
      bottom: 20px;
      button {
        outline: none;
        margin: 0 5px;
       background-color: transparent;
       span{
         background-color: #00A7B4;
         height: 8px;
         width: 8px;
         border-radius: 100px;
        box-shadow: 0 3px 8px 0 rgba(0, 167, 180,0.40);
       }

      
      }

      button.active {
       
        span {
        position: relative;
        background-color: #00A7B4;
        &::after {
          content: '';
          position: absolute;
          left: -5px;
          top: -5px;
          border-radius: 100px;
          height: 18px;
          width: 18px;
          background-color: rgba(0, 167, 180, 0.20) !important;
          display: block;
          z-index: 2;
        }
        }
     
      }
    }
  }

  .take-ourtour-section {
    padding: 40px 0;
    background-color: #fff;
    .play {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      a {
        display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      
        img {
          width: 100%;
          max-width: 150px;
          height: auto;
          object-fit: cover;
          margin-top: 20px;
          z-index: 12;
        }

        position: relative;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          border-radius: 100px;
          height: 140px;
          width: 140px;
          background-color: rgba(0, 167, 180, 0.20) !important;
          display: block;
          z-index: 2;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;          
          border-radius: 100px;
          height: 180px;
          width: 180px;
          overflow: hidden;
          background-color: rgba(0, 167, 180, 0.10) !important;
          display: block;
          z-index: 2;
        }
      }
    }

    .content {
      min-height: 170px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 34px;
        line-height: 50px;
        color: #223D57;
        padding-left: 90px;
        position: relative;
        &::after {
          content: '';
         position: absolute;
         left: 0px;
         width: 60px;
         height: 2px;
         top: 20px;
         background-color: #00A7B4;
        }

      }

      p {
        font-size: 15px;
        line-height: 20px;
        color: #666666;
      }
    }
  }

  .individual-item-section {
    padding: 80px 0;
    position: relative;
    background-image: url(../images/bg-individual.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      left: -5px;
      top: -5px;
      border-radius: 100px;
      height: 100%;
      width: 100%;
      background-color: transparent;
      display: block;
      z-index: 2;
    } 

    .heading {
      text-align: center;
      margin-bottom: 30px;

      h3 {
        color: #fff;
        font-size: 34px;
        line-height: 44px;
        
      }
      p {
        font-size: 15px;
        color: #FFFFFF;
      }
    }

    .card-box {
      background-color: #F16566;
      padding: 30px 30px;
      border-radius: 20px;
      margin-bottom: 20px;

      &::after {
        content: '';
        background-image: url(../images/card-bg.png);
        position: absolute;
        background-size: contain;
        right: 60px;
        top: 30px;
        height: 56px;
        width: 56px;
        opacity: 0.2;
      }

      .img {
        height: 60px;
        width: 60px;
        margin-bottom: 10px; 

        img {
          width: 100%;
        }
      }
      h3 {
        font-size: 20px;
        line-height: 20px;
        color: #fff;
      }

      p {
        font-size: 15px;
        color: #fff;
        line-height: 20px;
      }
    }

    .bg-blue {
      background-color: #8C248A;
    }

    
    .bg-blue {
      background-color: #D94293;
    }
  }

}

.footer-section {
  padding: 80px 0 0 0;
  background-color: #000;
  color: #fff;

  hr {
    border-top: 1px solid #fff;
  }

  .footer-line-one {
    border-color: rgba(226, 226, 226, 0.21);
    margin: 0 0 40px 0;
  }

  .footer-content-logo {
    .logo-footer {
      margin-bottom: 40px;

      img {
        width: 80px;
        height: auto;
        object-fit: cover;
      }
    }

    p {
      color: rgba(255, 255, 255,0.70);
    }
  }

  .footer-content-link {
    padding: 70px 0 0 0;
  }

  .footer-content {
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      color: rgba(255, 255, 255,0.70);
    }

    p {
      font-size: 12px;
      line-height: 21px;
      font-weight: 400;
      color:rgba(255, 255, 255,0.70);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 28px;

        a {
          display: block;
          color: rgba(255, 255, 255,0.70);
          font-size: 14px;
          line-height: 30px;
          font-weight: 400;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  .stay-in-touch {
    padding: 0 0 0 50px;

    h3 {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .subscribe {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .form-group {
        margin-bottom: 0;
        margin-right: 10px;
        width: 100%;

        .form-control {
          background-color: transparent;
          color: #fff;
          height: 46px;
          font-size: 14px;
          border-radius: 4px;
          border-radius: 100px;
          margin-bottom: 10px;
          padding: 8px 20px;

          &:focus {
            border-color: #fff !important;
          }
        }
      }

      .btn-subscribe {
        background-color: #00A7B4;
        color: #fff;
        height: 46px;
        border-radius: 0;
        max-width: 170px;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        border-radius: 100px;
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(180, 180, 180, 0.26);
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          font-size: 18px;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: #fff;
            background-color: #00A7B4;
          }
        }
      }
    }
  }

  .copy-right-text {
    padding: 0px 0 20px 0;

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 767px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 45px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          .nav-item {
            padding: 0 20px;

            a {
            
              font-size: 16px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 500;
              white-space: nowrap;

            
            }
          }

          .nav-btn {
            margin: 0 !important;
            padding: 0 30px !important;
            a {
              width: 100%;
              margin-bottom: 10px;
            
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    right: -300px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    padding: 70px 0 0 0;

    .banner-section {
      padding: 10px 0;


      .slide {
        display: none;
      }

      .banner-area {
        padding: 40px 40px;
        overflow: hidden;
        .row {
          display: flex;
          flex-direction: column-reverse;
        }
        
        .content {
          margin-bottom: 40px;

          h3 {
            font-size: 28px;
            line-height: 26px;
            margin-bottom: 10px;
          }
        }

        .gallery {
          margin-top: 40px;
          margin-bottom: 40px;

          &:after {
            height: 80px;
            width: 100px;
            left: 10px;
          }

          &::before {
            height: 40px;
            width: 60px;
            right: -30px;
          }
        }

      
      }
      .owl-dots {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  .footer-section {
    padding-top: 40px;

    .footer-content-logo {
      p {
        width: 100%;
      }
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .middle-section {
    .banner-section .banner-area .content {
      margin-bottom: 100px;
    }
  }
  // no css
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .middle-section .banner-section .banner-area .gallery:after {
    left: 80px;
  }
}
/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 40px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;

          .nav-item {
            padding: 0 20px;

            a {
            
              font-size: 16px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 500;
              white-space: nowrap;

            
            }
          }

          .nav-btn {
            margin: 0 !important;
            padding: 0 30px !important;
            a {
              width: 100%;
              margin-bottom: 10px;
            
            }
          }
        }

      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    right: -300px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 12px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
