@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../fonts/helveticaneue/stylesheet.css");
@import url("../css/animate.css");
body {
  background-color: #fff;
  font-family: 'HelveticaNeue';
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

/*   normalize  */
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

.btn.btn-primary {
  background-color: #00A7B4 !important;
  border-color: #00A7B4 !important;
  color: #fff !important;
  border-radius: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.1);
          box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.1);
}

.btn.btn-primary:hover {
  background-color: rgba(0, 167, 180, 0.4);
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.4);
          box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-outline-primary {
  background-color: transparent !important;
  border-color: #00A7B4 !important;
  color: #00A7B4 !important;
  border-radius: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.1);
          box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.1);
}

.btn.btn-outline-primary:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.4);
          box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

/*############################ header section ###############################*/
.fixed-top {
  background-color: #fff !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 110px;
  position: relative;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #fff;
  z-index: 999;
}

.header .navbar .navbar-brand {
  width: 80px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .collapse1 {
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item a {
  color: #232323;
  font-size: 15px;
  line-height: 24px;
  padding: 8px 18px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #00A7B4;
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #00A7B4;
}

.header .navbar .collapse1 .navbar-nav .nav-btn {
  padding: 0 10px;
  margin-left: 20px;
}

.header .navbar .collapse1 .navbar-nav .nav-btn:last-child {
  padding-right: 0;
  margin-left: 0px;
}

.header .navbar .collapse1 .navbar-nav .nav-btn a {
  font-size: 16px;
  min-height: 30px;
  line-height: 22px;
  padding: 8px 20px;
  color: #fff;
}

/* menu responsive */
.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #c7c7c7;
  height: 50px;
  background-color: #fff;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-group .form-control:focus {
  border-color: #1d61f6 !important;
  color: #000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

/*  middle section start here */
.middle-section {
  height: auto;
  padding-top: 110px;
}

.middle-section .banner-section {
  padding: 20px 0;
  background-color: #fff;
  position: relative;
}

.middle-section .banner-section .relative {
  position: relative;
}

.middle-section .banner-section .slide {
  position: absolute;
  left: -50px;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .banner-section .slide ul li {
  padding: 10px 10px;
}

.middle-section .banner-section .slide ul li a {
  color: #999999;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.middle-section .banner-section .slide ul li.active a {
  color: #00A7B4;
  font-size: 36px;
  line-height: 42px;
  position: relative;
}

.middle-section .banner-section .slide ul li.active a::after {
  content: '';
  position: absolute;
  left: -50px;
  width: 40px;
  height: 2px;
  top: 20px;
  background-color: #00A7B4;
}

.middle-section .banner-section .banner-area {
  padding: 80px 90px;
  border-radius: 20px;
  background-color: rgba(34, 61, 87, 0.07);
}

.middle-section .banner-section .banner-area .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.middle-section .banner-section .banner-area .content h3 {
  font-size: 48px;
  line-height: 57px;
  color: #223D57;
}

.middle-section .banner-section .banner-area .content p {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 20px;
}

.middle-section .banner-section .banner-area .content .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  text-transform: capitalize;
}

.middle-section .banner-section .banner-area .content .btn span {
  font-size: 16px;
}

.middle-section .banner-section .banner-area .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

.middle-section .banner-section .banner-area .gallery::after {
  content: '';
  background-image: url(../images/pattern-1.png);
  position: absolute;
  left: 60px;
  top: -30px;
  height: 142px;
  width: 208px;
}

.middle-section .banner-section .banner-area .gallery::before {
  content: '';
  background-image: url(../images/pattern-2.png);
  position: absolute;
  right: -60px;
  bottom: 10px;
  height: 88px;
  width: 134px;
}

.middle-section .banner-section .banner-area .gallery .bnner-img {
  position: relative;
  z-index: 9;
}

.middle-section .banner-section .owl-dots {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.middle-section .banner-section .owl-dots button {
  outline: none;
  margin: 0 5px;
  background-color: transparent;
}

.middle-section .banner-section .owl-dots button span {
  background-color: #00A7B4;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.4);
          box-shadow: 0 3px 8px 0 rgba(0, 167, 180, 0.4);
}

.middle-section .banner-section .owl-dots button.active span {
  position: relative;
  background-color: #00A7B4;
}

.middle-section .banner-section .owl-dots button.active span::after {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 100px;
  height: 18px;
  width: 18px;
  background-color: rgba(0, 167, 180, 0.2) !important;
  display: block;
  z-index: 2;
}

.middle-section .take-ourtour-section {
  padding: 40px 0;
  background-color: #fff;
}

.middle-section .take-ourtour-section .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.middle-section .take-ourtour-section .play a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.middle-section .take-ourtour-section .play a img {
  width: 100%;
  max-width: 150px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
  z-index: 12;
}

.middle-section .take-ourtour-section .play a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 100px;
  height: 140px;
  width: 140px;
  background-color: rgba(0, 167, 180, 0.2) !important;
  display: block;
  z-index: 2;
}

.middle-section .take-ourtour-section .play a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100px;
  height: 180px;
  width: 180px;
  overflow: hidden;
  background-color: rgba(0, 167, 180, 0.1) !important;
  display: block;
  z-index: 2;
}

.middle-section .take-ourtour-section .content {
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .take-ourtour-section .content h3 {
  font-size: 34px;
  line-height: 50px;
  color: #223D57;
  padding-left: 90px;
  position: relative;
}

.middle-section .take-ourtour-section .content h3::after {
  content: '';
  position: absolute;
  left: 0px;
  width: 60px;
  height: 2px;
  top: 20px;
  background-color: #00A7B4;
}

.middle-section .take-ourtour-section .content p {
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.middle-section .individual-item-section {
  padding: 80px 0;
  position: relative;
  background-image: url(../images/bg-individual.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.middle-section .individual-item-section::after {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: block;
  z-index: 2;
}

.middle-section .individual-item-section .heading {
  text-align: center;
  margin-bottom: 30px;
}

.middle-section .individual-item-section .heading h3 {
  color: #fff;
  font-size: 34px;
  line-height: 44px;
}

.middle-section .individual-item-section .heading p {
  font-size: 15px;
  color: #FFFFFF;
}

.middle-section .individual-item-section .card-box {
  background-color: #F16566;
  padding: 30px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.middle-section .individual-item-section .card-box::after {
  content: '';
  background-image: url(../images/card-bg.png);
  position: absolute;
  background-size: contain;
  right: 60px;
  top: 30px;
  height: 56px;
  width: 56px;
  opacity: 0.2;
}

.middle-section .individual-item-section .card-box .img {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

.middle-section .individual-item-section .card-box .img img {
  width: 100%;
}

.middle-section .individual-item-section .card-box h3 {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.middle-section .individual-item-section .card-box p {
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}

.middle-section .individual-item-section .bg-blue {
  background-color: #8C248A;
}

.middle-section .individual-item-section .bg-blue {
  background-color: #D94293;
}

.footer-section {
  padding: 80px 0 0 0;
  background-color: #000;
  color: #fff;
}

.footer-section hr {
  border-top: 1px solid #fff;
}

.footer-section .footer-line-one {
  border-color: rgba(226, 226, 226, 0.21);
  margin: 0 0 40px 0;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 80px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .footer-content-logo p {
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .footer-content-link {
  padding: 70px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .footer-content p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
}

.footer-section .footer-content ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
}

.footer-section .stay-in-touch {
  padding: 0 0 0 50px;
}

.footer-section .stay-in-touch h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-section .stay-in-touch .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group {
  margin-bottom: 0;
  margin-right: 10px;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control {
  background-color: transparent;
  color: #fff;
  height: 46px;
  font-size: 14px;
  border-radius: 4px;
  border-radius: 100px;
  margin-bottom: 10px;
  padding: 8px 20px;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control:focus {
  border-color: #fff !important;
}

.footer-section .stay-in-touch .subscribe .btn-subscribe {
  background-color: #00A7B4;
  color: #fff;
  height: 46px;
  border-radius: 0;
  max-width: 170px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  border-radius: 100px;
}

.footer-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}

.footer-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-section .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .social-media ul li a {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: white;
  border: 1px solid rgba(180, 180, 180, 0.26);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.footer-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #00A7B4;
}

.footer-section .copy-right-text {
  padding: 0px 0 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 45px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    margin: 0 !important;
    padding: 0 30px !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn a {
    width: 100%;
    margin-bottom: 10px;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    right: 15px;
    top: -17px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    right: -300px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  /* middle section start here */
  .middle-section {
    padding: 70px 0 0 0;
  }
  .middle-section .banner-section {
    padding: 10px 0;
  }
  .middle-section .banner-section .slide {
    display: none;
  }
  .middle-section .banner-section .banner-area {
    padding: 40px 40px;
    overflow: hidden;
  }
  .middle-section .banner-section .banner-area .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .banner-section .banner-area .content {
    margin-bottom: 40px;
  }
  .middle-section .banner-section .banner-area .content h3 {
    font-size: 28px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .middle-section .banner-section .banner-area .gallery {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .middle-section .banner-section .banner-area .gallery:after {
    height: 80px;
    width: 100px;
    left: 10px;
  }
  .middle-section .banner-section .banner-area .gallery::before {
    height: 40px;
    width: 60px;
    right: -30px;
  }
  .middle-section .banner-section .owl-dots {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .footer-section {
    padding-top: 40px;
  }
  .footer-section .footer-content-logo p {
    width: 100%;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .middle-section .banner-section .banner-area .content {
    margin-bottom: 100px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section .banner-section .banner-area .gallery:after {
    left: 80px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 40px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: 0 !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    margin: 0 !important;
    padding: 0 30px !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn a {
    width: 100%;
    margin-bottom: 10px;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    right: 15px;
    top: -17px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    right: -300px;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 10px;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
/*# sourceMappingURL=custom.css.map */